.leaflet-popup {
    min-width: 300px;
    max-width: 400px;
}
.leaflet-popup-content-wrapper{
    padding: 0.2rem 0.25rem 0.5rem 0.25rem!important;
}
.img-rd{
    border-radius: 3px!important;
}
.legend {
    background: #fff;
    padding: 8px;
    border-radius: 5px;
}
.legend .row {
    display: flex;
    line-height: 30px;
}
.legend i {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
